body {
  height: 100vh;
  display: table;
  width: 100%;
  font-family: 'Arial';
}

.header {
  display: table-row;
  height: 10vh;
  background: #406864;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 20px 0 20px 0;
}

.main {
  height: 90vh;
  width: 100%;
  background: white;
}

h1 {
  font-family: 'Lobster';
  font-size: 30px;
}

.list {
  background: #8ab7a6;
  margin: 50px;
  height: inherit;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.transaction {
  font-size: 15px;
  font-family: 'Calibri';
  margin: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}