body {
  height: 100vh;
  display: table;
  width: 100%;
  font-family: 'Arial';
  background: white;
}

.header {
  display: table-row;
  height: 10vh;
  background: #665c84;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 20px 0 20px 0;
}

.main {
  height: 90vh;
  width: 100%;
  background: white;
}

h1 {
  font-family: 'Lobster';
  font-size: 30px;
}

.list {
  background: #deaa61;
  margin: 50px 50px 15px 50px;
  height: inherit;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.transaction {
  font-size: 17px;
  font-family: 'Arial';
  margin: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.delete {
  background: white;
  color: #665c84;
  padding: 5px;
  display: inline-block;
  border-radius: 10%;
  border: none;
  font-size: 17px;
  font-family: 'Arial';
}

.create {
  background: #665c84;
  color: white;
  padding: 10px;
  margin: 0 50px 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-family: 'Arial';
  float: right;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  padding: 50;
}

.modal {
  background: #fff;
  border-radius: 5px;
  max-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
}

input {
  display: block;
  /* border: 1px solid rgba(255,255,255,0.6);
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

select {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}